<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deputado - {{ deputado['ultimoStatus']['nome'].split()[0] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/deputado.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="topo-pagina">
            <h1>Radar Cidadão</h1>
        </div>
        <nav></nav>
        <div class="topo-pagina-subtexto">
            <a href="/">Home</a>
            <a href="/graficos">Gráficos</a>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="container-card">
                <div class="container-foto">
                    <img src="{{ deputado['ultimoStatus']['urlFoto'] }}"
                        alt="Foto de {{ deputado['ultimoStatus']['nome'] }}">
                </div>
                <div class="container-title">
                    <h1>{{ deputado['ultimoStatus']['nome'] }}</h1>
                </div>
            </div>
            <div class="container-dados">
                <div class="container-dados">
                    <h1>Unidade Federativa</h1>
                    <h2>{{ deputado['ultimoStatus']['siglaUf'] }}</h2>
                </div>
                <div class="container-dados">
                    <h1>Sigla do partido</h1>
                    <h2>{{ deputado['ultimoStatus']['siglaPartido'] }}</h2>
                </div>
                {% if votos %}
                {% for voto in votos %}
                <div class="container-dados">
                    <p>{{ voto['dados_voto'] }}</p>
                    <p>{{ voto['informacoes'] }}</p>
                </div>
                {% endfor %}
                {% endif %}
                <div class="container">
                    <div id="grafico-gastos" style="width: 100%; min-width: 600px;"></div>
                </div>
                <div class="container">
                    <img src="../img/graficos/nikolas_ferreira_presenca.png" alt="">
                </div>
            </div>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script>
                var graficoGastos = {{ grafico_gastos }}; // VSCode indentifica como erro pq n reconhece o python dentro do script, mas funciona 👍
                Plotly.newPlot('grafico-gastos', graficoGastos.data, graficoGastos.layout);
            </script>
        </div>
    </section>

</body>

</html>