<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deputado - {{ deputado['nomeEleitoral'].split()[0] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/deputado.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="topo-pagina">
            <h1>Radar Cidadão</h1>
        </div>
        <nav></nav>
        <div class="topo-pagina-subtexto">
            <a href="/">Home</a>
            <a href="/graficos">Gráficos</a>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="container-card">
                <div class="container-foto">
                    <img src="{{ deputado['urlFoto'] }}"
                        alt="Foto de {{ deputado['nomeEleitoral'] }}">
                </div>
                <div class="container-title">
                    <h1>{{ deputado['nomeEleitoral'] }}</h1>
                </div>
            </div>
            <div class="container-dados">
                <div class="container-dados">
                    <h1>Unidade Federativa</h1>
                    <h2>{{ deputado['siglaUf'] }}</h2>
                </div>
                <div class="container-dados">
                    <h1>Sigla do partido</h1>
                    <h2>{{ deputado['siglaPartido'] }}</h2>
                </div>
                <div class="container-dados">
                    <h1>Presença em eventos</h1>
                    <h2>{{ presenca['total_presencas'] }} Presenças</h2>
                    <h2>{{ presenca['total_eventos'] }} Total de Eventos</h2>
                </div>
                {% if votos %}
                <div class="votos-wrapper">
                    <div class="votos-container">
                        <h1>Votos</h1>
                    {% for voto in votos %}
                        <div class="voto-card 
                            {% if voto['tipoVoto'] == 'Sim' %}sim
                            {% elif voto['tipoVoto'] == 'Não' %}nao
                            {% endif %}
                        ">

                            <div class="voto-header">
                                <span class="badge">
                                    {{ voto['tipoVoto'] }}
                                </span>

                                <span class="data">
                                    {{ voto['dataHora'] }}
                                </span>
                            </div>

                            <div class="voto-body">
                                <p>{{ voto['descricao_detalhada'] }}</p>
                            </div>

                            <div class="voto-footer">
                                {% if voto['aprovacao'] == 1 %}
                                    <span class="status aprovado">Aprovado</span>
                                {% elif voto['aprovacao'] == 0 %}
                                    <span class="status rejeitado">Rejeitado</span>
                                {% else %}
                                    <span class="status neutro">Indefinido</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
                {% endif %}
                <div class="container">
                    <div id="grafico-gastos" style="width: 100%; min-width: 600px;"></div>
                </div>
            </div>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script>
                var graficoGastos = {{ grafico_gastos | safe }};
                Plotly.newPlot('grafico-gastos', graficoGastos.data, graficoGastos.layout);
            </script>
        </div>
    </section>

</body>

</html>