<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deputado - {{ deputado['nomeEleitoral'].split()[0] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/deputado.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="topo-pagina">
            <h1>Radar Cidadão</h1>
        </div>
        <nav></nav>
        <div class="topo-pagina-subtexto">
            <a href="/">Home</a>
            <a href="/graficos">Gráficos</a>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="container-card">
                <div class="container-foto">
                    <img src="{{ deputado['urlFoto'] }}" alt="Foto de {{ deputado['nomeEleitoral'] }}">
                </div>
                <div class="container-title">
                    <h1>{{ deputado['nomeEleitoral'] }}</h1>
                </div>
            </div>
            <div class="container-dados">
                <div class="container-dados">
                    <h1>Unidade Federativa</h1>
                    <h2>{{ deputado['siglaUf'] }}</h2>
                </div>
                <div class="container-dados">
                    <h1>Sigla do partido</h1>
                    <h2>{{ deputado['siglaPartido'] }}</h2>
                </div>
                {% if votos %}
                <div class="votos-wrapper">
                    <h1>Votos</h1>
                    <div class="votos-container">
                        {% for voto in votos %}
                        <div class="voto-card 
                            {% if voto['tipoVoto'] == 'Sim' %}sim
                            {% elif voto['tipoVoto'] == 'Não' %}nao
                            {% endif %}
                        ">
                            <div class="voto-header">
                                <span class="badge">
                                    {{ voto['tipoVoto'] }}
                                </span>

                                <span class="data">
                                    {{ voto['dataHora'] }}
                                </span>
                            </div>

                            <div class="voto-body">
                                <p>{{ voto['descricao_detalhada'] }}</p>
                            </div>

                            <div class="voto-footer">
                                {% if voto['aprovacao'] == 1 %}
                                <span class="status aprovado">Aprovado</span>
                                {% elif voto['aprovacao'] == 0 %}
                                <span class="status rejeitado">Rejeitado</span>
                                {% else %}
                                <span class="status neutro">Indefinido</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="container-gastos">
                    <form method="get" id="filtro">
                        <div class="filtros-area">
                            <div class="entrada-dados">
                                <label>Tipo de Despesa: </label>
                                <input type="text" name="despesa" placeholder="Tipo de Despesa" value="{{ tipo or '' }}">
                            </div>
                            <div class="entrada-dados">
                                <label>Mes: </label>
                                <select name="mes">
                                    <option value="" {% if not mes %}selected{% endif %}>--</option>
                                    {% for n, mes_nome in [[1, 'Janeiro'], [2, 'Fevereiro'], [3, 'Março'], [4, 'Abril'], [5, 'Maio'], [6, 'Junho'],[7, 'Julho'], [8, 'Agosto'], [9, 'Setembro'], [10, 'Outubro'], [11, 'Novembro'], [12, 'Dezembro']] %}
                                        <option value="{{ n }}" {% if n == mes %}selected{% endif %}>{{ mes_nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="entrada-dados">
                                <label>Ano: </label>
                                <select name="ano_gasto">
                                    <option value="" {% if not ano_gasto %}selected{% endif %}>--</option>
                                    {% for n in range(2023,2027) %}
                                        <option value="{{ n }}" {% if n == ano_gasto %}selected{% endif %}>{{ n }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                                <button type="submit">Filtrar</button>
                                <a href="{{ url_for('download_csv', id_deputado=deputado['id'], despesa=tipo, mes=mes, ano_gasto=ano_gasto) }}" class="btn-baixar-csv">Baixar CSV</a>
                                </div>
                                </form>
                                <div id="grafico-gastos"
 style="width: 100%; min-width: 10vw;"></div>
                </div>
                <div class="container-presencas">
                    <form method="get" id="filtro">
                        <div class="filtros-area">
                            <div class="entrada-dados">
                                <label>Ano: </label>
                                <select name="ano_evento">
                                    <option value="" {% if not ano_evento %}selected{% endif %}>--</option>
                                    {% for n in range(2023,2027) %}
                                        <option value="{{ n }}" {% if n == ano_evento %}selected{% endif %}>{{ n }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit">Filtrar</button>
                        </div>
                    </form>
                    <div id="grafico-presencas" style="width: 100%; min-width: 10vw;"></div>
                    <span class="d-inline-block text-center" tabindex="0" data-bs-toggle="tooltip" data-bs-title="O indice de presença é calculado multiplicando a presença em eventos por um peso designado de acordo com a importância do evento.">
                        <i class="bi bi-info-circle"></i>
                    </span>
                </div>
            </div>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script>
                var graficoGastos = {{ grafico_gastos | safe }};
                Plotly.newPlot('grafico-gastos', graficoGastos.data, graficoGastos.layout);

                var graficoPresencas = {{ grafico_presencas | safe}};
                Plotly.newPlot('grafico-presencas', graficoPresencas.data, graficoPresencas.layout)

                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            </script>
        </div>
    </section>

</body>

</html>
