<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Análise de Dados Políticos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/graficos.css') }}">
</head>

<body>
    <header>
        <div class="topo-pagina">
            <h1>Radar Cidadão</h1>
        </div>
        <div id="divisor"></div>
        <!-- Se tiver nav, deixa. Se não, tira. -->
        <nav class="topo-pagina-subtexto">
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        
    </main>
</body>
</html>