<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radar Cidadão</title>
    <link rel="stylesheet" href="../static/css/base/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="topo-pagina">
            <h1>Radar Cidadão</h1>
        </div>
        <nav></nav>
        <div class="topo-pagina-subtexto">
            <a href="/graficos">Gráficos</a>
        </div>
    </header>

    <main>
        <section id="Filtro">
            <div class="filtros-area">
                <div class="entrada-dados">
                    <label>Nome:</label>
                    <input type="text" placeholder="Nome do Deputado">
                </div>
                <div class="entrada-dados">
                    <label>Estado:</label>
                    <select>
                        <option>--</option>
                        <option>SP</option>
                        <option>RJ</option>
                        <option>MG</option>
                    </select>
                </div>
                <div class="entrada-dados">
                    <label>Partido:</label>
                    <select>
                        <option>--</option>
                        <option>Partido A</option>
                        <option>Partido B</option>
                    </select>
                </div>
                <button type="button">Filtrar</button>
            </div>
        </section>

        <section class="base-dep">
            <div class="grade-dep">
                <div class="cartao-dep">
                    <a href="pages/deputado.html"> <img src="img//deputados/nikolasferreira.jpg" alt="Nikolas Ferreira">
                        <h3>Nikolas Ferreira</h3>
                        <p>PL - MG</p>
                    </a>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/Deltan.jpg" alt="Deltan Dallagnol">
                    <h3>Deltan Dallagnol</h3>
                    <p>NOVO - PR</p>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/GuilhermeBoulos.jpg" alt="Guilherme Boulos">
                    <h3>Guilherme Boulos</h3>
                    <p>PSOL - SP</p>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/TabataAmaral.jpg" alt="Tabata Amaral">
                    <h3>Tabata Amaral</h3>
                    <p>PSB - SP</p>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/BoscoSaraiva.jpg" alt="Bosco Saraiva">
                    <h3>Bosco Saraiva</h3>
                    <p>SOLIDARIEDADE - AM</p>
                </div>
            </div>
        </section>

        <section class="base-dep">
            <div class="grade-dep">
                <div class="cartao-dep">
                    <img src="../static/images/deputados/NikolasFerreira.jpg" alt="Nikolas Ferreira">
                    <h3>Nikolas Ferreira</h3>
                    <p>PL - MG</p>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/Deltan.jpg" alt="Deltan Dallagnol">
                    <h3>Deltan Dallagnol</h3>
                    <p>NOVO - PR</p>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/GuilhermeBoulos.jpg" alt="Guilherme Boulos">
                    <h3>Guilherme Boulos</h3>
                    <p>PSOL - SP</p>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/TabataAmaral.jpg" alt="Tabata Amaral">
                    <h3>Tabata Amaral</h3>
                    <p>PSB - SP</p>
                </div>
                <div class="cartao-dep">
                    <img src="../static/images/deputados/BoscoSaraiva.jpg" alt="Bosco Saraiva">
                    <h3>Bosco Saraiva</h3>
                    <p>SOLIDARIEDADE - AM</p>
                </div>
            </div>
        </section>
    </main>

    <section class="textinho"> <!-- Sinceramente, não coloca nome assim pras classe man 😭 -->
        <h1>Sobre</h1>
        <p style="margin-bottom: 80px; font-size: 19px; font-family: Roboto Slab, serif;">
            O projeto "Radar Cidadão" tem como finalidade disponibilizar e facilitar o acesso à dados públicos de
            deputados federais, em condição de reecandidatura. Por meio dessa aplicação, buscamos viabilizar para
            eleitores e diferentes personas a oportunidade de acompanhar a situação e informações públicas
            importantes de diferentes deputados federais, incentivando o voto consciente. O site oferece os dados de
            deputados, partidos e seus respectivos estados por meio de ferramentas de pesquisa e gráficos com
            informações importantes para o conhecimento de cidadãos no ano eleitoral de 2026.
        </p>
    </section>

    <footer>
        <!-- Gente, no footer não coloca os devs, coloca redes, sites uteis, coisas assim guys, a gente pode até colocar o github da nossa api, mas colocar nossos nomes não tem nada a ver -->
        <!-- Mas sinceramente, como eu não sou front, não posso ajudar ¯\_(ツ)_/¯ -->
        <div>
            <h2>DevTeam</h2>
            <ul>
                <li>Daniel, Gabriel, Maurício</li>
                <li>Rafael, Pedro</li>
                <li>Vinícius, Nikson</li>
            </ul>
        </div>
        <div>
            <h2>Project Owner</h2>
            <ul>
                <li>Vitor Assis</li>
            </ul>
        </div>
        <div>
            <h2>Scrum Master</h2>
            <ul>
                <li>Matheus</li>
            </ul>
        </div>
    </footer>
</body>
</html>